<%# content_for :head, auto_discovery_link_tag(:atom, feed_path) %>

<div class="row">
    <div class="large-12 columns">
      <p><%= image_tag("picture1.jpg", :alt => "banner") %></p>
    </div>
  </div>

  <div class="row">
    <div class="small-11 small-centered columns">
    <ol class="chapters">
      <% @chapters.order("created_at DESC").each do |chapter| %>
      	<li id="<%= chapter.id %>">
		<h3><%= link_to "Chapter #{chapter.id} - #{chapter.title}", chapter_path(chapter)  %></h3>
		<h4 class="subheader">Had time to make this <%= time_ago_in_words(chapter.created_at)%> ago.</h4>
		<!--<div class="row">
		  <div class="small-9 small-centered large-uncentered columns"><p><%= chapter.body %></p></div>
		</div>--> 
		</li>
	  <% end %>
	</ol> 
    </div>
  </div>
