<% provide(:title, "Chapter #{@chapter.id}") %>
 <div class="row">
    <div class="small-11 small-centered columns">
	    <%= render 'nav' %>
		<h3> Chapter <%= @chapter.id %> - <%= @chapter.title %></h3>
		<div class="row">
		  <div class="small-11 small-centered columns"><p><%= raw(auto_link(@chapter.body)) %></p></div>
		  <br/>
		  <div class="small-11 small-centered columns">
		  	<%= render 'comments' %>
		  </div>
		  <!-- <div class="small-9 small-centered large-uncentered columns"><p><%= raw(@chapter.body) %></p></div> -->
		</div>
    </div>
  </div>