<% provide(:title, "Chapter #{chapter.id}") %>

<!-- Hack for javascript to see which page it it -->
<div id="showMe">
</div>

<section id="<%=chapter.id%>-section" class="module parallax" style="background-image: url('<%= chapter.banner_url %>')">
  <div class="container container-padding">
    <h1><%="Chapter #{chapter.id}"%></h1>
    <h2><%= chapter.title %></h2>
  </div>
</section>

 <div class="row" style="padding-top: 15px;">
    <div class="small-11 small-centered columns">
	    <%= render 'nav', chapter: chapter %>
		<h3>Chapter <%= chapter.id %> - <%= chapter.title %>    <%= render 'tweet' %></h3>
		<h6 class="subheader">Wrote this baby on <%= chapter.created_at.strftime("%B %d, %Y")%></h6>
		<div class="row">
		  <div class="small-11 small-centered columns"><p><%= raw(chapter.body) %></p></div>
		  <br/>
		  <%# auto_link for twitter hashtags %>
		  <div class="small-11 small-centered columns">
		  	<%= render 'comments' %>
		  </div>
		</div>
    </div>
  </div>
